body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Specified font */
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Adjust padding as needed */
}
a {
    text-decoration: none; /* Remove underline from all links */
}
.homewrapper{
    margin-left: 100px;
}

.search{

--padding: 14px;
width: max-content;
display: flex;
align-items: center;
padding: var(--padding);
border-radius: 28px;
background: #f6f6f6;
width: 600px;
transition: box-shadow 0.25s;
}

.search:focus-within{
box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input{
font-size: 16px;
font-family: 'Lexend', sans-serif;
color: #333333;
margin-left: var(--padding);
outline: none;
border: none;
background: transparent;
flex: 1;
}

.search-input::placeholder,
.search-icon{
color: rgba(0, 0, 0, 0.25);
}
label {
    margin-right: 10px;
}
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.discussion {
    margin: 20px;
    margin-top: 20px; /* Adjust margin as needed */
}
.discussion-box {
    border: 1px solid #ccc;
    padding: 10px;
    width: 700px;
    background-color: #f6f6f6;
    height: max-content;
    margin-bottom: 20px;
}
.discussion-box h3 {
    margin: 0;
    font-size: 18px;
}
.discussion-box:hover{
    cursor: pointer;
    background-color: #333333;
    transition: 0;
}
.discussion:hover{
    color: whitesmoke;

}
.discussion-link {
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color from parent */
    outline: none; /* Remove outline on focus */
}

.add-discussion{
    background:#333333;
    margin: 5px;
    width: fit-content;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}

.add-discussion-position{
    display: flex;
    flex-direction: row-reverse;
}

.add-discussion:hover,
.add-discussion:focus{
background-color: rgb(255, 75, 222);
color: white;
transition: 0.25s;
cursor: pointer;

}

.createpost{
font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
margin: 10px;
color: whitesmoke;

}

.trendingcontainer{
    padding: 2rem;
}
.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius: 0.5rem;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;

}
.slider::-webkit-scrollbar {
    display: none; /* Hide the scrollbar on WebKit browsers (such as Chrome and Safari) */
}

.slider {
    -ms-overflow-style: none; /* Hide the scrollbar on Edge */
    scrollbar-width: none; /* Hide the scrollbar on Firefox */
}
.trendingfont {
    margin-top: 50px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #ccc;
    text-align: center; /* Center the text horizontally */
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Center the text vertically */
    justify-content: center; /* Center the text horizontally */
}

.trendingnow-link:hover,
.trendingnow-link:focus{
    color: aquamarine;
 transition: 0.25s;
}

.topcomsearch-column{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.topsea{
    background-color: rgb(54, 54, 54);
    margin: 5px;
    margin-top: 80px;
    border: none;
    width: 300px;
}
.topcom{
    background-color: rgb(54, 54, 54);
    margin: 5px;
    margin-top: 70px;
    border: none;
    width: 300px;
}
.topsearches-link,
.topcommunities-link{
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color from parent */
    outline: none; /* Remove outline on focus */
    display: flex;
    margin: 5px;
    height: fit-content;
    width: fit-content;

}

.topcommunities-link:hover,
.topsearches-link:hover,
.topcommunities-link:focus,
.topsearches-link:focus{
    color: aquamarine;
 transition: 0.25s;
}
.material-symbols-outlined{
    color: #ccc;
    margin-right: 10px;
}

.topdis-topcomsea-group{
    display: flex;
    flex-direction: row;
}


.font{
    font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
color: white;
margin: 3px;
}
.font:hover{
    color: rgb(255, 75, 222);
    transition: 0.25s;
}
.font1{
    font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
color: rgb(48, 48, 48);
margin: 10px;

}
.font1:hover{
    color: rgb(255, 75, 222);
    transition: 0.25s;
}
.font2{
    font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
color: rgb(248, 248, 248);
margin-top: 80px;
margin-left: 20px;
width: fit-content;

}
.font3{
    font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
color: rgb(248, 248, 248);
margin-top: 10px;
margin-left: 20px;

}
.explore-home-icon{
    display: flex;
    flex-direction: column-reverse;

}

/* POP UP CSS STYLE */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
}
.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
    font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
color: rgb(48, 48, 48);
}
.btn-cancel {
    margin-right: 10px;
    border: none;
    color: whitesmoke;
    background-color: #333333;
}
.btn-create-post{
    margin-right: 10px;
    border: none;
    color: whitesmoke;
    background-color: #333333;

}
.newpost{
    display: flex;
    flex-direction: column;
}
.font-output{
    color: #333333;
    font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
}
.font-output:hover{
    color: whitesmoke;
    transition: 0.25s;
}
.material-symbols-outlined{
    color: whitesmoke;
    width: fit-content;
    margin-left: 10px;
    margin-top: 10px;
}