/* Initial transparent background */
/* .navbar {
    
    
} */

/* Background when scrolled */
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.379); /* Set dark background with 50% transparency */
    transition: background-color 0.5s ease-in-out;
}


/* navbar-toggler icon white */
.navbar-toggler-icon {
    filter: invert(1); /* Invert the icon color to white */
}

.navbar-toggler {
    border-color: white; /* Set border color to white */
}

/* Custom styles for navbar */
.navbar-nav .nav-item .nav-link:hover {
    background-color: transparent; /* Set background color to transparent when hovered */
    color: white; /* Keep text color as white when hovered */
    border-bottom: 0.5px solid white; /* Add a white border around the element when hovered */
    
}



/* Custom styles for dropdown items */
.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: black; /* Set background color to black when hovered */
    color: white; /* Set text color to white when hovered */
}

/* Apply box-sizing: border-box to navbar items */
.nav-item a {
    box-sizing: border-box; /* Include padding and border in width and height */
}

/* Define hover effect with border bottom line */
.nav-item a:hover {
    border-bottom: 2px solid white; /* Add a white bottom border when hovered */
    padding-bottom: 2px; /* Adjust padding to compensate for the border */
}


/* tak de function */
.navbar-brand:hover{
    background-color: black; /* Set background color to black when hovered */
    color: white; /* Set text color to white when hovered */
}

.navbar-brand{
    background-color: rgba(0, 0, 0, 0); /* Set background color to black when hovered */
    color: white; /* Set text color to white when hovered */
    border-radius: 2px;
    border-color: rgb(255, 255, 255);
    text-align: left;
}

/* Custom styles for the navbar when scrolled */
.navbar-transparent {
    background-color: rgba(52, 58, 64, 0.5); /* Set dark background with 50% transparency */
}

.navbar{
    background-color: black;
}

/* space between nav items */
.navbar-nav {
    display: flex; /* Enable Flexbox layout */
    justify-content: space-between; /* Distribute items evenly across the width */
    padding-right: 50px;
    width: 80%; /* Ensure the nav takes up the full width of the navbar */
}

/* .navbar-nav .nav-item .nav-link{
    margin-bottom: 2px;
    margin-top: 2px;
} */

input[type="search"]::placeholder {
    color: white;
}